* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(103, 62, 62);
}

.logo{
    width: 80px;
    border-radius: 10% 5%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 1s;
}

.nav-links li a:hover {
    color: goldenrod;
    font-weight: 800; 
    padding: 0.5rem 1rem ;
    font-size: larger;
    cursor: pointer;
}

.hamburger{
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


/* HERO */
.about-hero {
  height: 70vh;
  background: url("../about-page/images/restaurant\ img\ 1.png");
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.hero-text {
  position: relative;
  color: white;
  z-index: 2;
}

.hero-text h1 {
  font-size: 3rem;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #d35400;
}

/* STORY */
.story p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
}

/* MISSION */
.mission {
  background: #fff;
}

/* CHEF */
.chef {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding: 60px 20px;
  background: #645c50;
  justify-content: center;
}

.chef img {
    height: 400px;
  width: 300px;
  border-radius: 15px;
  border-radius: 60px;
}

.chef-text {
  max-width: 500px;
  color: rgb(224, 214, 214);
}

/* GALLERY */
.gallery{
    background-color: rgb(34, 18, 68);
}
.gallery h2{
    text-align: center;
    font-size: 2.3rem;
    color: white;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 2rem;
}
 .gallery-items{
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    width: 600px;
    height: 400px;
 }
.gallery-items img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.gallery-items:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    inset: 0;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    font-size: 1.5rem;
}

.desc{
    margin-top: 16px;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 5px 10px green;
    text-align: center;
}

/* AWARDS */
.awards{
    background-color: rgb(103, 67, 0);
    color: white;
}

.awards p{
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
.awards h2{
    text-align: center;
    font-size: 4rem;
    color: rgb(126, 110, 20);
    text-shadow: 0 5px 10px black;
    margin: 3rem 0;
}
.awards ul {
  list-style: none;
  margin-top: 1rem;
}

.awards li {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 800;
  
}

.awards article{
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 1rem;
}

/* FOOTER */
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}
.footer-content img{
    border-radius: 10% 5%;
}

.footer-content h3{
    margin-bottom: 1rem;
    text-shadow: 0 5px 3px gold;
    font-size: 3rem;
}

.footer-content p{
    margin: 15px 0;
}

.socials {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 70%;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.socials a{
    color: #fff;
    margin: 1rem auto 2rem;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.socials a:hover{
    color: orange;
    font-size: larger;
    transform: translateY(-10px);
}

.copy{
    background-color: wheat;
    color: black;
    padding: 10px 0; 
    width: 100%;
    margin: auto;
}

.logo-2{
 width: 150px;
 height: auto;
 margin-top: 20px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .chef {
    flex-direction: column;
    text-align: center;
  }
}

    @media(max-width:768px) {
        .gallery-grid{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 30px;
        }

        .overlay{
            align-self: center;
            font-size: 1.3rem;
        }

        .gallery-items{
            width: 400px;
            height: auto;
        }
        .awards ul{
            padding: 15px;
        }
    
    }


    @media (min-width:769px) {
        .footer-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    }


    @media (min-width: 1500px) {

        .kitchen-menu,
        .footer-content {
            max-width: 80%;
        }

    }
     @media(max-width:768px){
        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            gap: 1rem;
            top: 60px;
            left: 0;
            text-align: center;
            padding: 20px 0;
        }

        .hamburger{
            display: block;
        }
        


    }


    

